@use '../global/_variables' as v;
@use '../global/_functions' as f;
@use '../layout/mixins/media' as m;

.footer {
  background-color: v.$color-header-footer-background;
  text-align: center;
  padding: f.spacing(1.5); // mobile-first

  @include m.respond-to(md) {
    padding: f.spacing(2);
  }

  @include m.respond-to(lg) {
    padding: f.spacing(3);
  }

  &__text {
    margin: 0;
    line-height: 1.5;
    color: v.$color-footer-text;
  }
}