@use '_functions' as f;

// Colors
$color-heading: #333;
$color-content: #212121;
$color-header-footer-background: #09095f;
$color-header-title: #ffffff;
$color-header-nav: #ccccff;
$color-footer-text:#ffffff;

// Typography
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
