@use '../global/_variables' as v;
@use '_media' as m;

.grid3up {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: v.$space-xl;
  margin-bottom: v.$space-xxl;
  margin-top: v.$space-xxl;
}