@use '../../global/_variables' as v;
@use '../../global/_functions' as f;
@use '../../global/_typography' as t;

// Default values are to conform with a mobile-first approach
.card {
  background-color: #f9f9f9;
  border: 1px solid #212121;
  border-radius: 8px;
  padding: v.$space-md;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  }

  &__title {
    font-size: v.$font-size-h3;
    margin-bottom: v.$space-sm;
  }

  &__content {
    font-size: v.$font-size-sm;
    line-height: 1.5;
  }

  &__actions {
    margin-top: v.$space-md;
    flex-direction: column;
    gap: v.$space-sm;
  }

  &--complete {
    border-left: 4px solid green;
    background-color: #f0fff0;
  }

  &--inprogress {
    border-left: 4px solid orange;
    background-color: #fffaf0;
  }

  &--incomplete {
    border-left: 4px solid red;
    background-color: #fff0f0;
  }
}