@use '../../global/_variables' as v;
@use '../../global/_functions' as f;
@use '../../global/_typography' as t;
@use '../../layout/_media' as m;

.card {
  background-color:  #f9f9f9;
  border: 1px solid #212121;
  border-radius: 8px;
  padding: f.spacing(2);
  box-shadow: 0 2px 6px rgb(0 0 0 / 5%);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  }

  &__title {
    font-size: v.$font-size-h2;
    font-weight: 600;
    margin-bottom: v.$space-md;
    color: #333;
  }

  &__content {
    font-size: v.$font-size-base;
    line-height: 1.6;
    color: #333;
  }

  &__actions {
    margin-top: v.$space-xl;
    display: flex;
    justify-content: flex-end;
    gap: v.$space-md;
  }
  
  &--complete {
  border-left: 6px solid green;
  background-color: #f0fff0;
  }

  &--inprogress {
    border-left: 6px solid orange;
    background-color: #fffaf0;
  }

  &--incomplete {
    border-left: 6px solid red;
    background-color: #fff0f0;
  }
}

@include m.respond-to(md) {
  .card {
    padding: v.$space-lg;
  }

  .card__title {
    font-size:v.$font-size-h4;
  }

  .card__content {
    font-size: v.$font-size-h6;
  }
}