@use '../global/_typography.scss';
@use '../layout/mixins/_grid.scss' as grid;
@use '../layout/mixins/_list.scss' as list;
@use '../components/card/_card.scss';

.card-group {
  @include grid.grid-3up;
}

.status-list {
  @include list.list-unstyled;
}