@use '../global/typography';
@use '../components/card/card';
@use '../layout/mixins/grid' as grid;
@use '../layout/mixins/list' as list;


.card-group {
  @include grid.grid-3up;
}

.status-list {
  @include list.list-unstyled;
}