@use '_variables' as v;
@use '_functions' as f;

h1 {
  font-size: v.$font-size-h1;
  margin-bottom: v.$space-xl;
  font-weight: 700;
  color: v.$color-heading;
}

h2 {
  font-size: v.$font-size-h2;
  margin-bottom: v.$space-lg;
  font-weight: 600;
  color: v.$color-heading;
}

h3 {
  font-size: v.$font-size-h3;
  margin-bottom: v.$space-md;
  font-weight: 600;
  color: v.$color-heading;
}

h4 {
  font-size: v.$font-size-h4;
  margin-bottom: v.$space-sm;
  font-weight: 500;
  color: v.$color-heading;
}

h5 {
  font-size: v.$font-size-h5;
  margin-bottom: v.$space-xs;
  font-weight: 500;
  color: v.$color-heading;
}

h6 {
  font-size: v.$font-size-h6;
  margin-bottom: v.$space-xs;
  font-weight: 500;
  color: v.$color-heading;
}

p {
  font-size: v.$font-size-base;
  line-height: 1.6;
  margin-bottom: v.$space-md;
  color: v.$color-content;
}