@use '../../global/_variables' as v;

@mixin grid($columns: 1, $gap: v.$space-md, $margin-block: v.$space-sm) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  margin-block: $margin-block;
}